<div>
    <v-subheader>{{items.length? 'Items' : 'No items added'}}</v-subheader>
    <v-simple-table class="grey lighten-5">
        <thead>

        </thead>
        <tbody>
            <tr v-for="item in items">
                <td><span>{{ item.name }}</span>
                </td>
                <td width="10%"><span>{{ item.quantity }}</span>
                </td>
                <td width="10%"><span>{{ item.quantity * item.price }}</span>
                </td>
                <td width="10%">
                    <v-btn icon color="grey" @click="removeItem(item.id)">
                        <v-icon>mdi-delete-circle-outline</v-icon>
                    </v-btn>
                </td>
            </tr>
        </tbody>
    </v-simple-table>
    <p v-if="calcSum()"><i>In total:</i> {{ calcSum() }}</p>
</div>